# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/

# Django Database
db.sqlite3

# IDE Files
.idea/
.vscode/

# Static Collection
staticfiles/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# User Uploads
media/
adhar_uploads/
delivery_photos/

